/* Articles variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$ag-bg: $sb-gray-80;
$ag-disabled-arrow-color: $sb-gray-300;
$ag-arrow-hover-color: $sb-black;
$ag-article-bg: $sb-white;
$ag-article-border-bottom: 4px solid $sb-cerulean-500;
$ag-goto-article-icon-color: $sb-cerulean-900;
$ag-article-link-color: $body-color;
$ag-read-now-bg: $sb-cerulean-500;
$ag-read-now-color: $sb-white;


/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$ag-read-now-padding: $m;
$ag-read-now-height: 50px;
$ag-article-height: 125px;
$ag-article-padding: $l;
$ag-article-container-padding-right: $m;
$ag-carousel-marging-top: $l;
$article-gallery-padding: $xxl;
