/* Back to top variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$btt-background: rgba(0, 27, 48, 0.6);
$btt-borders: $sb-blue-400;
$btt-color: $sb-white;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$btt-width: $xxl;
$btt-height: $xxl;
$btt-right: $xxl;
$btt-bottom: $xxl;
