/* Banner alert variables
   ========================================================================== */
/* Colors variables at: /assets/stylesheets/base/variables/branding.scss */
$banneralert-danger-bg: $sb-red-500;
$banneralert-danger-color: $sb-white;
$banneralert-danger-link: $sb-blue-500;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$banneralert-height: 35px;
$banneralert-mm-height: 80px; // same as $mm-height from mobile-menu.scss vars
$banneralert-padding: $s;
