/* Card variables
   ========================================================================== */
/**
* Colors and borders
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
* Shadows variables: /assets/stylesheets/base/variables/shadows.scss
* $body-color: /assets/stylesheets/base/variables/layout.scss
*/
$card-bg: $sb-white;
$card-text: $body-color;
$card-box-shadow: $box-shadow;
$card-divider-color: $sb-gray-100;
$card-hover-box-shadow: 0 16px 32px rgba(0, 0, 0, .16);
$card-footer-color: $sb-cerulean-900;


/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$card-hover-anim-height: $m;
$card-height: 540px;
$card-margin-bottom: $xl;
$card-padding: $l;
$card-footer-icon-margin: $s;
