/* Color box component
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$color-title: $sb-gray-900;
$color-description: $sb-gray-800;
$color-solo-color: $sb-gray-200;
$color-solo-border: $sb-gray-200;
$color-solo-background: $sb-black;
$color-collection-title-dark: $sb-black;
$color-collection-description: $sb-gray-900;
$color-collection-title-light: $sb-white;
$shade-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$color-content-max-width: 300px;
$color-content-max-height: 100px;
$shade-box-size: 50px;
$color-wrap-margin: $l $xl 0 0;
$color-title-p-margin-top: $s;
$color-used-for-p-margin: 0 0 $m 0;
// Font-size reference: /assets/stylesheets/base/variables/typography.scss
$shader-color-size: $font-size-base * 1.5;
$hex-title-size: $font-size-base / 1.5;
