/* Mobile menu section / $mm = mobile-menu
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$mm-background: $sb-blue-500;
$mm-burger-icon-color: $sb-white;
$mm-background-navigation: $sb-blue-400;
$mm-navigation-submenu-link: $sb-blue-500;
$mm-navigation-border: $sb-blue-600;
$mm-navigation-link: $sb-white;
$mm-navigation-background-link-active: $sb-green-500;
$mm-dropdown-hover: $sb-blue-500;
$mm-dropdown-hover-active: $sb-green-800;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$mm-height: 80px;
$mm-header-padding: $l;
$mm-burger-menu-right: $l;
$mm-nav-li-a-padding: $s $l;
$mm-mobile-submenu-span-padding: $s $l;
$mm-mobile-submenu-a-padding: $xxl;
$mm-mobile-submenu-a-dashboard-padding: $l;
