/* Steps progress bar variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$steps-progress-bar-color: $sb-white;
$steps-progress-bar-color: $sb-white;
$steps-progress-bar-after: $sb-gray-200;
$steps-progress-wrapper-title: $sb-gray-400;
$steps-progress-wrapper-background-span: $sb-gray-300;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$steps-progress-bar-after-height: $xs - 2;
$steps-progress-bar-after-top: $xxxl + 8;
$steps-progress-wrapper-size: $xxl + 2;
$steps-progress-wrapper-size-selectred: $xxl - 2;
$steps-progress-wrapper-size-span: $xl - 4;
$steps-progress-wrapper-selected-size: $xxl - 8;
$steps-progress-bar-size: $xxl + 2;
$steps-progress-wrapper-span-margin-top: $xs;
$steps-progress-wrapper-after-left: 50%;
