/* Back to top
   ========================================================================== */
/**
* JS component loaded on startup
* The button displays after scrolling 800px
*
* See more: /assets/javascripts/application/components/back-to-top.js
*
* Variables file: assets/stylesheets/base/variables/components/back-to-top.scss
*/
.back-to-top {
  align-items: center;
  background-color: $btt-background;
  border: $btt-borders;
  border-radius: 50%;
  bottom: $btt-bottom;
  color: $btt-color;
  display: flex;
  height: $btt-height;
  justify-content: center;
  outline: none;
  position: fixed;
  right: $btt-right;
  width: $btt-width;

  .material-icons {
    margin: 0;
  }
}
