/* Banner alert
   ========================================================================== */
/**
* Use it in HTML as
* <div class='banner-alert danger'></div>
* Background class: danger
*
* Variables file: assets/stylesheets/base/variables/components/banner-alert.scss
*/
.banner-alert {
  height: $banneralert-height;
  padding: $banneralert-padding;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1010;

  /* Backgrounds */
  &.danger {
    background: $banneralert-danger-bg;
    color: $banneralert-danger-color;

    a {
      color: $banneralert-danger-link;
      cursor: pointer;
    }
  }

  // modify the main menu and content when a banner-alert is present
  // so then the banner stays on top and doesnt overlap the rest
  & ~ .main-menu {
    top: $banneralert-height;
  }

  // if mobile-menu is open in conjuntion with banner alert, then the menu needs
  // extra spacing on top
  @media screen and (max-width: $sd-max) {
    & ~ .mobile-menu {
      top: $banneralert-height;

      // if banner-alert and mobile-menu are present, add 35px more to .content
      & ~ .content {
        padding-top: $banneralert-mm-height + $banneralert-height;
      }
    }
  }

  // if only banner-alert is open, add $banneralert-height-mobile as margin-top
  & ~ .content {
    padding-top: $banneralert-height;
    @media screen and (max-width: $sd-max) {
      margin-left: 0;
      padding-top: $banneralert-mm-height;
    }
  }
}
