/* Button styling
   ========================================================================== */
/* Default button */
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  border: 1px solid $sb-gray-100;
}

/* Gitlab button */
/* Variables file: assets/stylesheets/base/variables/components/buttons.scss */
.external-link {
  align-items: center;
  background: $external-link-background;
  border-radius: $base-border-radius-size;
  box-shadow: $external-link-box-shadow;
  color: $external-link-color;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: $external-link-padding;
  transition: all 250ms ease-in-out;

  &:hover {
    transform: translate(0, -5px);
  }

  img {
    margin-right: $external-link-img-margin;
    width: $external-link-img-width;
  }
}
