/* Cards
   ========================================================================== */
/**
* Use it in HTML as (Card with text & image)
* <article class='articles-gallery'>
*   <div class='card-content'>
*     <header>
*       <h3> Card title</h3>
*     </header>
*     <p>
*       Card content
*     </p>
*     <div class='figure-wrap'>
*       <figure>
*         <img src='image url'>
*       </figure>
*     </div>
*     <footer>
*       Footer content
*     </footer>
*   </div>
* </article>
*
* Variables file: assets/stylesheets/base/variables/components/card.scss
*/
.card {
  background: $card-bg;
  box-shadow: $card-box-shadow;
  display: flex;
  flex-direction: column;
  height: $card-height;
  justify-content: space-between;
  margin-bottom: $card-margin-bottom;
  transition: all 250ms ease-in-out;

  &-content,
  footer {
    padding: $card-padding;
  }

  /* Content wrapper */
  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    width: 100%;
  }

  /* Image wrapper */
  .figure-wrap {
    margin-top: auto;
  }

  footer {
    background: $card-bg;
    border-top: 1px solid $card-divider-color;
    color: $card-footer-color;
    flex: 0;

    i {
      margin-left: $card-footer-icon-margin;
    }
  }

  /* Styles for card wrapped by anchor */
  &.clickable {
    color: $card-text;
    text-decoration: none;

    &:hover {
      box-shadow: $card-hover-box-shadow;
      transform: translate(0, -16px);

      &::before {
        content: '';
        height: $card-hover-anim-height;
        position: absolute;
        top: 100%;
        width: 100%;
      }
    }

    a {
      &:link,
      &:active,
      &:hover,
      &:focus,
      &:visited {
        color: $card-text;
        text-decoration: none;
      }
    }

    // overwrite Bootstrap inherit property
    h3 {
      color: $card-text;
    }
  }

  /* featured card styles */
  &.featured {
    position: relative;

    h3 {
      color: $card-bg;
    }

    footer {
      border-top: 0;
    }
  }
}
