/* Do's & Dont's
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/do-dont.scss */
.do-dont-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $dd-padding;

  &-full-width {
    padding: 0;
  }

  .do-column,
  .dont-column {
    background: $do-dont-bg;
    box-shadow: $box-shadow;
    flex: 1 0;
    margin: $dd-column-magin;
    padding: $dd-column-padding;

    &.half-width {
      flex: 50% 0;
    }

    ul {
      padding: $dd-column-ul-padding;
    }
  }

  .do-column {
    border-left: $do-column-border;

    .do-dont-title {
      color: $do-title;
    }
  }

  .dont-column {
    border-left: $dont-column-border;

    .do-dont-title {
      color: $dont-title;
    }
  }

  .text-center {
    flex: 0 0 100%;
    margin-top: $dd-container-text-center-margin-top;
  }

  .do-dont-content {
    margin-left: $dd-content-margin-left;
  }
}
