/* Icons UX
   ========================================================================== */
.icons-ux-container {
  @extend .do-dont-container;

  &-full-width {
    padding: 0;
  }

  .icons-ux-column {
    background: $do-dont-bg;
    border-left: 5px solid $feature-container-border-highlight-color;
    box-shadow: $box-shadow;
    flex: 1 0;
    margin: $icons-ux-column-margin;
    padding: $icons-ux-column-padding;
  }

  .icons-ux-content {
    margin-left: $icons-ux-content-margin;

    a .no-margin-right {
      margin-right: 0;
    }
  }
}
