/* Icon display component
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/icon-display.scss */
.icon-display {
  align-items: center;
  border-radius: $base-border-radius-size;
  display: inline-flex;
  flex-direction: column;
  padding: $l;
  text-align: center;
  width: $icon-display-width;

  &:hover {
    @extend .clickable;
    background: $icon-display-background;
    box-shadow: $box-shadow;
  }

  .icon-name {
    margin-top: $icon-icon-name-margin-top;
  }
}
