/* Label styles
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/label.scss */
.label {
  display: inline-block;
  margin-top: $label-margin-top;
}
