/* Main menu
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/main-menu.scss */
.main-menu {
  background-color: $main-menu-bg;
  border-right: $main-menu-border;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: $aside-width;

  @media screen and (max-width: $sd-max) {
    display: none;
  }

  ul,
  li {
    padding: 0;
  }

  li a,
  .li-no-link {
    color: $main-menu-link-color;
    display: block;
    font-weight: $font-weight-normal-base;
    margin: $main-menu-li-no-link-margin;
    padding: $main-menu-li-no-link-padding;
  }

  hr {
    border-top-color: $main-menu-hr-color;
  }

  h6 {
    color: $main-menu-title-color;
    margin: 0;
    padding: $main-menu-li-h6-padding;
    text-transform: uppercase;
  }

  // internal use needs to fill the sidebar
  .internal-use {
    width: 100%;
  }
}

.footer-content {
  bottom: $main-menu-footer-bottom;
  display: flex;
  justify-content: center;
  position: absolute;
  width: $main-menu-footer-width;

  @media screen and (max-width: $md-min) {
    bottom: 0;
  }

  @media screen and (max-width: $sd-min) {
    bottom: 0;
  }

  a:hover {
    text-decoration: none;
  }
}
