/* Mobile menu
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/mobile-menu.scss */
.mobile-menu {
  display: none;
  @media screen and (max-width: $sd-max) {
    // mobile menu doesnt exist by default, so when the screen gets smaller it will appear
    background-color: $mm-background;
    display: block;
    height: $mm-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
  }

  .display-nav {
    display: none;
  }

  nav {
    background-color: $mm-background-navigation;
    min-height: 1200px;
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $mm-navigation-border;
      cursor: pointer;
      list-style: none;

      &:first-child {
        background-color: $mm-background-navigation;
      }

      a {
        color: $mm-navigation-link;
        cursor: pointer;
        display: block;
        height: 36px;
        padding: $mm-nav-li-a-padding;

        &.internal-use {
          display: none;
        }
      }

      a.active {
        background-color: $mm-navigation-background-link-active;
      }
    }
  }

  header {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $mm-header-padding;
    position: relative;
  }

  .burger-menu {
    position: absolute;
    right: $mm-burger-menu-right;

    i {
      color: $mm-burger-icon-color;
      cursor: pointer;
    }
  }

  /* Submenu */
  .mobile-submenu {
    color: $mm-navigation-link;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;

    ul {

      li {
        border: 0;
        padding: 0;
      }

      a {
        background-color: $mm-navigation-submenu-link;
        border-bottom: 0;
        padding-left: $mm-mobile-submenu-a-padding;
      }
    }

    &-dropdown {
      height: 36px;
      margin-right: 0;
      padding: 7px;
      position: absolute;
      right: 0;
      width: 36px;

      &:hover {
        background: $mm-dropdown-hover;
      }
    }

    /* when the dropdown is inside an active item the background is green */
    .active ~ .mobile-submenu-dropdown:hover {
      background: $mm-dropdown-hover-active;
    }
  }
}
