/* Slide-in panel
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/panel-slidein.scss */
.panel-slidein {
  background: $panel-slidein-bg;
  box-shadow: $box-shadow;
  padding: $panel-slidein-padding;
  position: fixed;

  hr {
    margin: $panel-slidein-hr-padding 0;
  }

  &-right {
    display: flex;
    flex-direction: column;
    height: $panel-slidein-height;
    overflow-y: scroll;
    right: -$panel-slidein-width;
    top: 0;
    transition: $panel-sliding-transition;
    width: $panel-slidein-width;

    &.visible {
      right: 0;
      z-index: 1020;
    }
  }

  &-body {
    flex: 1;
  }

  &-close {
    @extend .clickable;
    position: absolute;
    right: $panel-slidein-close-right;
    top: $panel-slidein-close-top;
  }

  &-footer {
    bottom: 0;
    padding: $panel-slidein-footer-padding;
  }
}
