/* Summary text
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/summary.scss */
.summary {
  display: flex;
  line-height: $summary-line-height;
  margin: $summary-margin;

  &-content {
    background: $summary-bg;
  }

  &-lg {
    font-size: $summary-text;
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
    padding: $summary-center-padding;
  }

  strong {
    color: $summary-color-em;
    font-style: normal;
  }

  .material-icons {
    vertical-align: middle;
  }
}
