/* Remove content underline */
.modal-link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* Video modal style */
.video-modal {
  // Set modal backdrop opacity
  .modal-backdrop.in {
    opacity: 0.8;
  }

  .modal-content {
    background: none;
    border: 0;
    box-shadow: none;

    .modal-body {
      padding: $video-modal-body-padding;
    }

    .modal-header {
      display: flex;
      padding: $video-modal-header-padding;
      text-align: right;
    }

    // Custom close button
    .close {
      align-items: center;
      background: $video-modal-close-background;
      border-radius: 50%;
      color: $video-modal-close-color;
      display: flex;
      float: none;
      font-size: $video-modal-close-font-size;
      height: $video-modal-close-size;
      justify-content: center;
      margin: 0;
      opacity: 1;
      padding: $video-modal-close-padding;
      text-shadow: none;
      width: $video-modal-close-size;
    }

    .modal-header,
    .modal-footer {
      border: 0;
    }

    video {
      width: 100%;
    }
  }
}
