aside.main-menu
  header
    a(href='/')
      img(src='/images/eos-logo.png')
    .design-system
      | Design System

  h6
    | Tools and guides
  ul.no-list-style
    li
      a(href='/dashboard', class= path.match(/.*?dashboard/) ? 'active' : '')
        | Dashboard
    li
      a(href='/colors', class= path.match(/.*?colors/) ? 'active' : '')
        | Colors
    li
      a(href='/icons', class= path.match(/.*?icons/) ? 'active' : '')
        | Icon guides
    li
      .li
        a(href='/writing', class= path.match(/.*?writing/) ? 'active' : '')
          | Writing guides

  .internal-use
    hr
    h6
      | Internal tools
    ul.no-list-style
      li
        a(href='/internal/special-icons', class= path === '/internal/special-icons' ? 'active' : '')
          | Special icons list

  .footer-content.js-footer-desktop
    a(href='https://gitlab.com/SUSE-UIUX/eos/tags', target='_blank')
      .external-link
        img(src='/images/icons/gitlab_color.svg')
        | View our repository
