.mobile-menu
  header
    a(href='/')
      img(src='/images/eos-logo.png')

    .burger-menu
      a
        i.material-icons.md-32
          | menu
  nav.display-nav
    ul
      li.mobile-submenu
        a(href='/dashboard', class= path === '/dashboard' ? 'active' : '')
          | Dashboard
      li.mobile-submenu
        a(href='/colors', class= path === '/colors' ? 'active' : '')
          | Colors
        i.material-icons.mobile-submenu-dropdown.js-open-submenu
          | keyboard_arrow_down
        ul.js-submenu
          li
            a(href='/colors/how-to', class= path === '/colors/how-to' ? 'active' : '')
              | How to use
      li.mobile-submenu
        a(href='/icons', class= path === '/icons' ? 'active' : '')
          | Icon guides
        i.material-icons.mobile-submenu-dropdown.js-open-submenu
          | keyboard_arrow_down
        ul.js-submenu
          li
            a(href='/icons/eos-icons-set', class= path === '/icons/eos-icons-set' ? 'active' : '')
              | EOS icon set
          li
            a(href='/icons/animated-icons', class= path === '/icons/animated-icons' ? 'active' : '')
              | Animated icons
          li
            a.internal-use(href='/icons/when-to-use-them', class= path === '/icons/when-to-use-them' ? 'active' : '')
              | Do's and don'ts
          li
            a(href='/icons/icons-ux', class= path === '/icons/icons-ux' ? 'active' : '')
              | Icons UX
      li.mobile-submenu
        a(href='/writing', class= path === '/writing' ? 'active' : '')
          | Writing guides
        i.material-icons.mobile-submenu-dropdown.js-open-submenu
          | keyboard_arrow_down
        ul.js-submenu
          li
            a(href='/writing/brand-voice', class= path === '/writing/brand-voice' ? 'active' : '')
              | Brand voice
          li
            a(href='/writing/brand-tone', class= path === '/writing/brand-tone' ? 'active' : '')
              | Brand tone
          li
            a(href='/writing/ux-writing', class= path === '/writing/ux-writing' ? 'active' : '')
              | UX writing
          li
            a(href='/writing/conventions-and-rules', class= path === '/writing/conventions-and-rules' ? 'active' : '')
              | Conventions and rules
    .footer-content.js-footer-mobile
      a(href='https://gitlab.com/SUSE-UIUX/eos/tags', target='_blank')
        .external-link
          img(src='/images/icons/gitlab_color.svg')
          | View our repository
