extends ../layouts/layout-main

block content
  .post
    section
      .container
        h1
          | What is a brand’s tone?
        h4
          | While our brand voice stays the same at all times, our brand tone changes
          | depending on the emotional state of the person we're addressing.
    hr
    article
      .container
        h3
          | SUSE tone guidelines
        h5.title-strong
          | Situational awareness
        ul
          li
            | In order to pick the right tone in a given situation first think
            | about the outcome of the action in question and how that outcome
            | will affect users.
          li
            | Think about all of our users and how they might feel in a given
            | situation. An opinion from a single customer or shareholder might
            | not be valid when considering the needs and feelings of the
            | entire audience.
          li
            | There are 3 types of situations users may experience. Our tone
            | should be adapted for each context in order to inform the user
            | in a way which supports their needs without adding any emotional
            | baggage or extraneous details.
        h6.title-strong
          | Positive situations
        .do-dont-container
          .do-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | check_circle
                | Do
            .do-dont-content
              p
                | "All nodes successfully deployed!
                a.btn-link(href='#') 
                  | Edit node details
                |"
          .dont-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | cancel
                | Don't
            .do-dont-content
              p
                | "All nodes successfully deployed! You may now edit the node details 
                a.btn-link(href='#') 
                  | here."
          .text-center
            p
              strong
                | Users probably feel happy and relieved.
            p
              | Gain trust by being open and friendly - use casual language
              | which encourage those feelings.
        h6.title-strong
          |  Neutral situations
        .do-dont-container
          .do-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | check_circle
                | Do
            .do-dont-content
              p
                | "Recover password."
          .dont-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | cancel
                | Don't
            .do-dont-content
              p
                | "Forgot your password?"
          .text-center
            p
              strong
                | Users feel pressure to complete sometimes complicated
                | tasks as quickly as possible.
            p
              | Show our expertise by being precise and polite but not personal
              | or overly friendly.
        h6.title-strong
          |  Negative situations
        .do-dont-container
          .do-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | check_circle
                | Do
            .do-dont-content
              p
                | "The file system is in an inconsistent state. Rebooting now might lead to serious data loss."
          .dont-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | cancel
                | Don't
            .do-dont-content
              p
                | "There seems to be a problem with the consistency of the file system. Check the manpage of btrfs for more information."
          .text-center
            p
              strong
                | Users probably feel stress and are unhappy.
            p
              | People who are upset want to know what's going on right away.
              | Inform the user of necessary information and the direct
              | consequences of their actions.
            p
              | Don’t joke around with frustrated people. Do not add extra
              | details, or non-related help, or try to explain general
              | concepts which do not directly relate to the situation.

  .container
    .dashboard-writing-steps
      include ../includes/steps-progress-bar/eos-writing-guides.pug
