extends ../layouts/layout-main

block content
  article
    .container
      h1
        | Writing Guides
      p
        | Learning the best way to communicate with our user in a clear and consistent way

    .container.dashboard-writing
      .row
        .horizontal-line
          .col-md-4.text-center
            .figure-wrap
              figure.round.brand-voice-icon
                img(src='/images/dashboard-writing/brand-voice.png')
              h3
                | Brand Voice
              p
                | Who we are is percived in how we write: expert, adaptive, etc.
              a(href='brand-voice')
                | Go to the Brand Voice Page

          .col-md-4.text-center
            .figure-wrap
              figure.round.brand-tone-icon
                img(src='/images/dashboard-writing/brand-tone.png')
              h3
                | Brand Tone
              p
                | Our writing changes its tone according to different scenarios: success, error, etc.
              a(href='brand-tone')
                | Go to the Brand Tone Page

          .col-md-4.text-center
            .figure-wrap
              figure.round.ux-writing-icon
                img(src='/images/dashboard-writing/ux-writing.png')
              h3
                | UX Writing
              p
                | Every person writes in its own way. As a brand we should write consistensly as well
              a(href='ux-writing')
                | Go to the UX Writing Page
