extends ../layouts/layout-main

block content
  .post
    section
      .container
        h1
          | Writing Guides
        h4
          | Learn the best way to communicate with users in a clear and consistent way.

    hr
    .dashboard-writing
      .container
        .row
          .horizontal-line
            .col-md-4.text-center
              .col-wrap
                .figure-wrap
                  figure.round.brand-voice-icon
                    a(href='writing/brand-voice')
                      img(src='/images/dashboard-writing/brand-voice.png')
                h3
                  | Brand Voice
                p
                  | Who we are is percived in how we write: expert, adaptive, etc.
                a(href='writing/brand-voice')
                  | Go to the Brand Voice Page

            .col-md-4.text-center
              .col-wrap
                .figure-wrap
                  figure.round.brand-tone-icon
                    a(href='writing/brand-tone')
                      img(src='/images/dashboard-writing/brand-tone.png')
                h3
                  | Brand Tone
                p
                  | Our writing changes its tone according to different scenarios: success, error, etc.
                a(href='writing/brand-tone')
                  | Go to the Brand Tone Page

            .col-md-4.text-center
              .col-wrap
                .figure-wrap
                  figure.round.ux-writing-icon
                    a(href='writing/ux-writing')
                      img(src='/images/dashboard-writing/ux-writing.png')
                h3
                  | UX Writing
                p
                  | Every person writes in their own way. As a brand we should write consistensly as well.
                a(href='writing/ux-writing')
                  | Go to the UX Writing Page
    hr
    article
      .container
        h3.title-strong
          | Conventions and rules
        p
          | In addition to learning about how to express our voice and tone 
          | through proper UX writing, it is also important that we follow 
          | certain 
          a(href='writing/conventions-and-rules')
            | conventions and rules 
          | in order for our writing to be seen as coming from a single entity.
        p 
          | You'll find information such as capitialization rules for titles and 
          | text as well as general conventions for punctuation.
