extends ../layouts/layout-main

block content
  .post
    section
      .container
        h1
          | UX writing guide
        h4
          | UX writing focuses on helping users achieve their goals with language.
    hr
    article
      .container
        h3.ux-writing-title
          | General writing tips
        .do-dont-container.do-dont-container-full-width
          .do-column
            .do-dont-title
              h6
                i.material-icons.md-18
                  | check_circle
                | Do
            .do-dont-content
              ul
                li
                  strong
                    | Front-load important information and write for how much
                    | people want to read
                  p
                    | Users read a given amount of text after which they only scan
                    | for seemingly important phrases or words. Include important
                    | information up front and only write as much as users are
                    | willing to read.
                li
                  strong
                    | Use lists when needed
                  p
                    | Any sentence containing 3 or more items separated by a comma
                    | should be turned into a list.
                li
                  strong
                    | Format long-form content properly
                  p
                    | Make long-form content more scannable with structural
                    | elements (labels, headers).
                li
                  strong
                    | Don't use "here"
                  p
                    | Embed your links in clear, descriptive language.
    hr
    article
      .container
        h3
          | Best practices
        ul
          li
            strong
              | Clear
            p
              | Often, the issue at hand is due to software problems, not people problems.
              | Pay attention to verbs. A verb is an action word, it tends to
              | be the most powerful part of your sentence. In a perfect world
              | it will relate to some action to the user.
            p
              | For clarity we remove the technical terms and put the action in the context of the user.
            .do-dont-container
              .dont-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | cancel
                    | Before
                .do-dont-content
                  h4
                    | Failure
                  p
                    | An authentication error has occurred.
                  a.btn.btn-default(href='#')
                    | Ok
              .do-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | check_circle
                    | After
                .do-dont-content
                  h4
                    | Sign-in error
                  p
                    | You entered an incorrect password.
                  a.btn.btn-default(href='#')
                    | Ok
            p
              | This is important when you’re writing a product announcement
              | or an app update. Currently, the focus is on the technical
              | specs of the new feature you’re releasing. Focus instead on the
              | new action that people can perform. Jargon free
              | messaging offers context.
        ul
          li
            strong
              | Concise
            p
              | Concise doesn’t only mean short, it means something closer
              | to efficient. When we are writing concisely,
              | we look at our message and make sure every word on the
              | screen has a distinct job.
              .do-dont-container
                .dont-column.half-width
                  .do-dont-title
                    h6
                      i.material-icons.md-18
                        | cancel
                      | Before
                  .do-dont-content
                    h4
                      | Sign-in error
                    p
                      | You entered an incorrect password.
                    a.btn.btn-default(href='#')
                      | Ok
            p
              | The above is a common problem in product writing. We don’t
              | need a header here. Because the
              | design field shows some pre-existing text field, we feel we
              | need to fill it in. You should avoid this, when you can
              | instead practice content first design.
            p
              | Content first design makes sure your visuals are inline with
              | what you’re trying to say. Not the other way around.
              | Try not to jam your message in boxes that weren’t meant for them.
              .do-dont-container
                .do-column.half-width
                  .do-dont-title
                    h6
                      i.material-icons.md-18
                        | check_circle
                      | After
                  .do-dont-content
                    p
                      | You entered an incorrect password
                    .btn.btn-default(href='#')
                      | Ok
            p
              | Here we’ve removed the header. As research suggests, most
              | people don’t read every word that’s present on their screens.
              | They tend to scan.
            p
              | We know that people’s eyes follow an F shaped pattern as
              | they read over the screen. They read the first line, the
              | second line, then start skipping down the page catching only
              | the first or second word of each sentence. For this reason we
              | keep our text not only concise but also frontloaded.
            p
              | Frontloading is the practice of putting your important
              | concepts first. This is done so people’s eyes catch those
              | important words as they scan through the page
              .do-dont-container
                .dont-column.half-width
                  .do-dont-title
                    h6
                      i.material-icons.md-18
                        | cancel
                      | Before
                  .do-dont-content
                    p
                      | You entered an incorrect password
                    .btn.btn-default(href='#')
                      | Ok
            p
              | Above, most of the words are at the end of the sentence. We
              | can fix this by flipping it around as shown below.
              .do-dont-container
                .do-column.half-width
                  .do-dont-title
                    h6
                      i.material-icons.md-18
                        | check_circle
                      | After
                  .do-dont-content
                    p
                      | Wrong password
                    .btn.btn-default(href='#')
                      | Ok
            p
              | You won’t always be able to do the above. The principle will
              | always hold true and you can use it anywhere you’re writing
              | for screens. Keep the most important text up front and then
              | ruthlessly edit what comes after it.
              .do-dont-container
                .dont-column
                  .do-dont-title
                    h6
                      i.material-icons.md-18
                        | cancel
                      | Before
                  .do-dont-content
                    h4
                      | Sign-in error
                    p
                      | You entered an incorrect password.
                    a.btn.btn-default(href='#')
                      | Ok
                .do-column
                  .do-dont-title
                    h6
                      i.material-icons.md-18
                        | check_circle
                      | After
                  .do-dont-content
                    p
                      | Wrong password
                    a.btn.btn-default(href='#')
                      | Ok
        ul
          li
            strong
              | Useful
            p
              | The call to action (CTA) guides people to their next step.
              | You want your text to help people get where they want to go.
              | For this reason the call to action needs to resonate with what
              | people want to do. Here ‘OK’ is not a good call to action.
            p
              | ‘Try again' is a good option instead. This isn’t all we
              | need. We need to give them an option if they’ve forgotten
              | their password. If they forget their password and their only
              | option is to ‘try again’, it’s very likely
              | they’ll get frustrated.
            p
              | Paying attention to writing and the people you’re writing
              | for is very important. It can uncover some of the basic
              | functions that your app or website needs to offer. If you
              | don’t think of those edges cases and write for them, you
              | might see a drop off in usage.
            .do-dont-container
              .dont-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | cancel
                    | Before
                .do-dont-content
                  p
                    | Wrong password
                  .btn.btn-default(href='#')
                    | Ok
              .do-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | check_circle
                    | After
                .do-dont-content
                  p
                    | Wrong password
                  a.btn.btn-default(href='#')
                    | Try again
                  a.btn.btn-primary.margin-left-xl(href= '#')
                    | Recover password
    hr
    article
      .container
        h3
          | Find the right balance
        p
          | Good UX writing is not a science. These three principles
          | are not always in harmony. There’s a kind of tension between
          | them. They’re competing with each other.
        .summary
          .summary-content.summary-lg.summary-center
            p
              strong
                | Clear
              i.material-icons.md-18.text-success
                | arrow_forward
              | jargon-free, offers context
            p
              strong
                | Concise
              i.material-icons.md-18.text-success
                | arrow_forward
              | economical, frontloaded

            p
              strong
                | Useful
              i.material-icons.md-18.text-success
                | arrow_forward
              | directs next action
        p
          | When we made the text clear it’s still pretty long, and not
          | so scannable. When we made the text concise, it made it
          | shorter but at the expense of some clarity. Finally when we
          | made the text useful it became longer and less scannable.
        p
          | Consider your users context and you’ll find the right
          | balance between these principles. Think about what they want
          | to do in the moment.
        .pyramid
          .pyramid-triangle
            .text
              | Brand voice
          .pyramid-trapezoid
            .text
              | UX writing principles
          .pyramid-explanation
            .top
              h6
                | Thriving
              p
                | How you say it
            .bottom
              h6
                | Surviving
              p
                | What you say

  .container
    .dashboard-writing-steps
      include ../includes/steps-progress-bar/eos-writing-guides.pug
