- if ( process.env.NODE_ENV != 'production') {
  .banner-alert.danger
    | Staging server: The information present in this site may change. Do not use it in products. 
    a(type='button', data-toggle='modal', data-target='#stagingServerModal')
      | Learn more.

  #stagingServerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='stagingServerModal')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.material-icons
              | close
          h4.modal-title 
            | Staging access
        .modal-body
          p 
            | The current is the EOS staging server. We continiously deploy new fixes and features
            | to this website, thus making the present information unstable and not ready to be used.
          p
            | Do not use any of the guides, assets, and elements present in this site into any product 
            | until the EOS Design System is released.
          p
            | If you want to be the first to know when EOS is available, please send an email to 
            a(href='mailto:eos@suse.de?subject=EOS release access')
              | eos@suse.de 
        .modal-footer
          button.btn.btn-link(type='button', data-dismiss='modal') Close
- }
