extends ../layouts/layout-main

block content
  .post
    .dashboard
      .container
        h1
          | EOS Design System
        h4
          | A design system made for SUSE products and the Open Source community.
      hr
      .container
        .row
          .left-col.col-md-8
            h2
              | Resources and guides
            .row
              .col-md-6
                article
                  a.card.clickable(href='/icons')
                    .card-content
                      header
                        h3
                          | Icons
                      p
                        | From a custom EOS icon library to Material Design Icons.
                        | Find the resources and documentation for a
                        | meaningful use across all products.
                      .figure-wrap
                        figure.round
                          img(src='/images/dashboard/misc-min.svg')
                    footer
                      | Icon guides
              .col-md-6
                article
                  a.card.clickable(href='/colors')
                    .card-content
                      header
                        h3
                          | Color palette
                      p
                        | A complete set of colors and their shades for every use case
                        | following Bootstrap standards and based on SUSE's color palette.
                      .figure-wrap
                        figure.round
                          img(src='/images/dashboard/palette-min.svg')
                    footer
                      | Color palette
            .row
              .col-md-6
                article
                  a.card.clickable(href='/writing')
                    .card-content
                      header
                        h3
                          | Writing guidelines
                      p
                        | The full documentation and guidelines to understand how to write and communicate in a consistent way.
                      .figure-wrap
                        figure.round
                          img(src='/images/dashboard/create-min.svg')
                    footer
                      | Writing guides
              .col-md-6
                article
                  .card
                    .card-content
                      header
                        h3
                          | Components
                      p
                        | Currently under development.
                      .figure-wrap
                        figure.round.disabled
                          img(src='/images/dashboard/underconstruction-min.svg')
                    footer
                      | Coming soon
          .right-col.col-md-4
            h2
              | News and tutorials
            .cards
              a.modal-link.js-launch-modal(href='#', data-toggle='modal', data-target='#video-demo-1')
                article.card.featured.card-documentation
                  .card-content
                    header
                      h3
                        | How to: Icons implementation
                    figure
                      img(src='/images/dashboard/dash-card-documentation.svg')
                  footer
                    span
                      | Watch video
                    i.material-icons.md-18
                      | play_circle_filled
              a.modal-link.js-launch-modal(href='#', data-toggle='modal', data-target='#video-demo-2')
                article.card.featured.card-ux-writing
                  .card-content
                    header
                      h3
                        | How to: UX Writing
                    figure
                      img(src='/images/dashboard/dash-featured-2-min.svg')
                  footer
                    span
                      | Watch video
                    i.material-icons.md-18
                      | play_circle_filled

      include ../shared/modals/video-demo-1.pug
      include ../shared/modals/video-demo-2.pug
