doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/material-design-icons/material-icons.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/slick/slick.css')
    link(rel='stylesheet', href='/spacewalk-font/spacewalk-font.css')
    link(rel='stylesheet', href='/eos-icons/css/eos-icons.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/jquery/jquery.min.js')
    script(src='/slick/slick.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&skin=desert')
    script(src='/javascripts/shared/gtm-head.js')
    script(src='/javascripts/application.min.js')
  body
    include ../shared/gtm-body.pug
    include ../shared/banner-alerts/beta-access.pug
    include ../shared/menu.pug
    include ../shared/mobile-menu.pug
    section.content
      include ../shared/submenu.pug
      block content
