doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    link(rel='stylesheet', href='/material-design-icons/material-icons.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/application-landing.css')
    link(rel='stylesheet', href='/animate/animate.css')
    script(src='/jquery/jquery.min.js')
    script(src='/wow/wow.min.js')
    script(src='/javascripts/application-landing.min.js')
    script(src='/javascripts/shared/gtm-head.js')
  body
    include ../shared/gtm-body.pug
    block content
