/* Header styles
   ========================================================================== */
.main-menu {
  header {
    align-items: center;
    border-bottom: 1px solid $main-menu-hr-color;
    display: flex;
    height: $submenu-height;
    margin-bottom: $main-menu-spacing;
    padding-left: $main-menu-spacing;

    img {
      height: 20px;
    }

    .design-system {
      color: $header-text-color;
      display: inline-block;
      font-size: $header-font-size;
      font-weight: $font-weight-light-base;
      padding-left: $main-menu-spacing;
      vertical-align: middle;
    }
  }
}
