/* Post styles
   ========================================================================== */
/**
*  Use it in HTML as
*  <section class='post'></section>
*
*  This rule wraps a section with a max width of 1116px and applies a box box-shadow
*/
html {
  height: 100%;
  position: relative;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-type-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal-base;
  line-height: $line-height;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: $aside-width;

  @media screen and (max-width: $sd-max) {
    margin-left: 0;
    padding-top: $onmobile-content-margin-top;
  }
}

.container {
  padding: $xl;
  width: 100%;
}

.hr-dotted {
  border-top: 2px dotted $sb-gray-300;
  height: 0;

  &.do-dont-separator {
    margin: $xl 7em;
  }
}

.internal-use {
  display: none; // hides all pages for internal use only
}

/* if the hr-dotted follows a .do-dont-container then we remove the top margin */
.do-dont-container + .hr-dotted {
  margin-top: 0;
}
