/* Post styles
   ========================================================================== */
/**
*  Use it in HTML as
*  <section class='post'></section>
*
*  This rule wraps a section with a max width of 1116px and applies a box box-shadow
*/
.post {
  background: $post-bg;
  margin: $post-spacing-xl;
  max-width: $post-max-width;

  hr {
    margin: 0 $post-hr-margin;
  }

}
