/* Buttons variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$external-link-background: $sb-blue-800;
$external-link-box-shadow: $box-shadow;
$external-link-color: $sb-white;

/* Spacing variables: /assets/stylesheets/base/variables/spacing.scss */
$external-link-padding: $s $m;
$external-link-img-margin: $l;
$external-link-img-width: 20px;
