/* Features variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$feature-container-border-color: $sb-gray-300;
$feature-container-border-highlight-color: $sb-gray-300;
$features-container-bg: $sb-white;

/* Border color */
$features-container-1: $sb-yellow-500;
$features-container-2: $sb-violet-300;
$features-container-3: $sb-orange-200;
$features-container-4: $sb-green-500;

/**
* Sizing and spacing
*
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
*/
$feature-spacing: $xl - 4;
$feature-figure-img-height: 220px;
