/* Icon display
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$icon-display-background: $sb-white;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$icon-display-width: 190px;
$icon-icon-name-margin-top: $m;
