/* Implementation examples variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$ie-result-default-border: $sb-gray-80;
$ie-result-dark-color: $sb-gray-900;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$ie-border-radius-size: $base-border-radius-size;
$ie-result-padding: $l;
$ie-vertical: $l 0;
