/* Layout
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$body-bg: $sb-white;
$body-color: $sb-gray-900;
$aside-width: 250px;
$onmobile-content-margin-top: 80px; // same as $mm-height from mobile-menu.scss vars
