/* Main menu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$main-menu-border: 1px solid $sb-gray-100;
$main-menu-bg: $sb-blue-500;
$main-menu-link-color: $sb-white;
$main-menu-title-color: $sb-white;
$main-menu-hr-color: $sb-blue-400;
$main-menu-footer-bottom: 100px;
$main-menu-footer-bottom-mobile: 60%;
$main-menu-footer-bottom-table: 30%;
$main-menu-footer-width: 100%;



/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$main-menu-height: 48px;
$main-menu-spacing: $m;
$main-menu-li-no-link-margin: 0 $m 0 0;
$main-menu-li-no-link-padding: $s 0 $s $m;
$main-menu-li-h6-padding: $m;
