/* Panel slidein variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$panel-slidein-bg: $sb-white;
$panel-sliding-transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 1);

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$panel-slidein-width: 350px;
$panel-slidein-height: 100%;
$panel-slidein-padding: $s $l;
$panel-slidein-close-right: $s;
$panel-slidein-close-top: $m;
$panel-slidein-footer-padding: $m 0;
$panel-slidein-hr-padding: $xl;
