/* Post variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$post-bg: $sb-white;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$post-spacing-xl: $l;
$post-hr-margin: $xl;
$post-spacing-xxl: $xl;

/* Sizing variables: /assets/stylesheets/base/variables/sizing.scss */
$post-max-width: $block-size-width; // 1366px - aside width
