/* Submenu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$submenu-text-color: $body-color;
$submenu-hover-border: $sb-gray-100;
$submenu-hover-color: $color-main;
$submenu-selected-border-color: $sb-green-500;
$submenu-dropdown-span: $sb-gray-200;
$submenu-search-border: $sb-gray-200;
$submenu-background: $sb-white;
$submenu-border: $sb-gray-80;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$submenu-input-width: 200px;
$submenu-height: $xxl;
$submenu-width: 100%;
$submenu-toggle-padding: $m;
$submenu-item-spacing: $s + 3;
$submenu-nav-border-width: 3px;
$submenu-search-wrap-height: $xl;
$submenu-dropdown-padding: $s $m;
$submenu-item-padding: $submenu-item-spacing $m;
$submenu-more-dd-padding: $s;
