/* Typography
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato:200,400,700');
$font-type-base: 'Lato', sans-serif;
$font-size-base: 14px;
$font-weight-normal-base: 400;
$font-weight-bold-base: 700;
$font-weight-light-base: 200;
