/* Dashboard writing
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/pages/dashboard-writing.scss */
.dashboard-writing {
  max-width: $dashboard-writing-max-width;
  position: relative;

  > .row {
    display: table;
    position: relative;
    width: 100%;
  }

  .col-wrap {
    margin: 0 auto;
    width: 70%;

    > h3 {
      margin-bottom: $m;
    }

    > p {
      min-height: 65px;
    }
  }

  .figure-wrap {
    background-color: $dashboard-writing-figure-wrap-bg;
    transition: all 250ms ease-in-out;

    &:hover {
      transform: translate(0, -5px);
    }
  }

  .round {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: $dash-round;
    justify-content: center;
    margin: $dash-figure-space auto;
    position: relative;
    width: $dash-round;

    &.brand-voice-icon {
      background-color: $sb-red-400;
    }

    &.brand-tone-icon {
      background-color: $sb-cerulean-400;
    }

    &.ux-writing-icon {
      background-color: $sb-green-400;
    }
  }

  .horizontal-line:before {
    border-bottom: 1px dashed $sb-gray-300;
    bottom: 0;
    content: ' ';
    height: 1px;
    left: 25%;
    margin: 0 auto;
    position: absolute;
    top: 168px;
    width: 50%;
  }
}

.dashboard-writing-steps {
  margin: 0 0 140px 18px;
}

.steps-progress-bar li {

  &.brand-voice-icon a span {
    background-color: $sb-red-400;
  }

  &.brand-tone-icon a span {
    background-color: $sb-cerulean-400;
  }

  &.ux-writing-icon a span {
    background-color: $sb-green-400;
  }

  &.selected {

    &.brand-voice-icon a p {
      color: $sb-red-400;
    }

    &.brand-tone-icon a p {
      color: $sb-cerulean-400;
    }

    &.ux-writing-icon a p {
      color: $sb-green-400;
    }
  }
}
