/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/pages/dashboard.scss */
.dashboard {
  max-width: $post-max-width;

  .left-col,
  .right-col {

    h2 {
      margin-bottom: $dash-cards-wrap-m;
    }
  }

  .cards {
    margin-top: $dash-cards-wrap-m;
  }

  /* custom card styles */
  .card {

    header {
      text-transform: uppercase;
    }

    .round {
      align-items: center;
      background-image: linear-gradient(130deg, $dash-active-circle-gradient-from 0%, $dash-active-circle-gradient-to 100%);
      border-radius: 50%;
      display: flex;
      height: $dash-round;
      justify-content: center;
      margin: $dash-figure-space auto;
      opacity: 0.68;
      width: $dash-round;

      &.disabled {
        background-image: linear-gradient(130deg, $dash-inactive-circle-gradient-from 0%, $dash-inactive-circle-gradient-to 100%);
      }

      img {
        width: $dash-figure-img-w;
      }
    }

    &.featured {

      &.card-documentation {
        background: $sb-green-400;
      }

      &.card-ux-writing {
        background-color: $sb-cerulean-300;
      }

      header {
        text-transform: none;
      }
    }
  }
}
