/* Icons UX
   ========================================================================== */
.icons-ux-alignment {

  .material-icons {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
  }

  .vertical-align-icon {
    margin-top: 37px;
  }

  .vertical-content {
    float: left;
    width: 80%;

    > h4,
    p {
      margin: 0;
    }
  }
}
