.icons-search-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $icon-set-height;

  input {
    border: 0;
    border-bottom: $icon-set-border;
    outline: 0;
    width: 200px;
  }

  i {
    margin-left: $icon-set-i-margin;
  }
}

.icons-set-list {
  margin-top: $icon-set-list-margin-top;
}

@media screen and (max-width: $sd-max) {
  .icon-set-utility {
    text-align: center;

    .col-xs-12 {
      margin: $icon-set-icon-set-utility-col-size 0;
    }

    .icons-search-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    input {
      width: $icon-set-icon-set-utility-input-size;
    }
  }
}
