/* Icon guides
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/pages/icon-guides.scss */
.circle-icon-sets,
.circle-icon-sizes,
.circle-icon-colors {
  height: $icon-circle-size;
  margin: $icon-circle-margin;
  position: relative;
  width: $icon-circle-size;

  .eos-icons:last-of-type {
    margin-right: 0;
  }
}

.circle-icon-sets,
.circle-icon-sizes,
.circle-icon-colors,
.circle-complementary {
  align-items: center;
  border-radius: 50%;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: center;
}

.circle-complementary {
  background: $circle-complementary-bg;
  height: $circle-complementary-size;
  position: absolute;
  right: -50px;
  top: -50px;
  width: $circle-complementary-size;
  z-index: 10;
}

.content-centered {
  vertical-align: middle;
}

.circle-icon-sets {
  background: $circle-icon-sets-bg;

  .eos-logo {
    width: 98px;
  }

  .md-logo {
    width: 46px;
  }
}

.circle-icon-sizes {
  background: $circle-icon-sizes-bg;
}

.circle-icon-colors {
  background: $circle-icon-colors-bg;
}
