/* UX writing
   ========================================================================== */
.pyramid {
  margin-left: auto;
  margin-right: auto;
  margin-top: $xxl;
  position: relative;
  width: 300px;

  &-triangle,
  &-trapezoid {
    color: $ux-writing-pyramid-text-color;
    height: 0;
    position: relative;

    .text {
      position: absolute;
    }
  }

  &-triangle {
    border-bottom: 100px solid $sb-green-500;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin-bottom: $m;
    margin-left: 90px;
    width: 120px;

    .text {
      left: -17px;
      top: 40px;
    }
  }

  &-trapezoid {
    border-bottom: 145px solid $sb-blue-500;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    width: 300px;

    .text {
      top: 60px;
    }
  }

  &-explanation {
    left: 300px;
    position: absolute;
    top: 0;
    width: 100px;

    h6,
    p {
      margin: 0;
    }

    .top {
      margin-top: 2em;
    }

    .bottom {
      margin-top: 6em;
    }
  }
}
