/* Dashboard variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$dash-cards-wrap-m: $l;
$dash-round: 177px;
$dash-figure-space: $xxl;
$dash-figure-img-w: 100px;
$dash-active-circle-gradient-from: #02D35F;
$dash-active-circle-gradient-to: #02A49C;
$dash-inactive-circle-gradient-from: #DCDDDE;
$dash-inactive-circle-gradient-to: #A7A9AC;
$dash-footer-padding: $s;
