/* How to use variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$example-1-background: $sb-black;
$example-1-color: $sb-white;
$example-2-border: $sb-gray-500;
$example-2-color: $sb-gray-900;
$example-3-background: $sb-violet-500;
$example-3-color: $sb-white;
$example-4-background: $sb-cerulean-500;
$example-4-color: $sb-black;
$example-5-border: $sb-gray-500;
$example-5-color: $sb-gray-900;
$example-5-span: $sb-cerulean-900;
$example-6-background: $sb-green-500;
$example-6-color: $sb-white;
$example-6-span: $sb-blue-500;
$example-7-background: $sb-blue-500;
$example-7-color: $sb-white;
$example-7-span: $sb-green-500;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$how-to-max-width: 400px;
$how-to-p-size: $l - 4;
$how-to-usage-example-margin-top: $m;
$how-to-title-p-margin-top: $s;
$how-to-wrap-p-padding: $m;
$how-to-wrap-span-margin-left: $xs;
