/* Icon guides
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$icon-circle-margin: $xxxl auto $xxl;

$icon-circle-size: 137px;
$circle-complementary-size: 105px;

/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$circle-complementary-bg: $sb-white;
$circle-icon-sets-bg: $sb-violet-500;
$circle-icon-sizes-bg: $sb-cerulean-500;
$circle-icon-colors-bg: $sb-blue-500;
