/* Icon set
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$icon-set-height: $xl;
$icon-set-i-margin: -$s;
$icon-set-list-margin-top: $xxl;

// Tablet/mobile
$icon-set-icon-set-utility-col-size: $xxl;
$icon-set-icon-set-utility-input-size:  80%;

/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$icon-set-border: 1px solid $sb-gray-200;
