/* UX writing component variables
   ========================================================================== */
/**
* Colors and borders
*
* Meaningful colors: /assets/stylesheets/base/variables/branding.scss
* Main colors: /assets/stylesheets/base/variables/shadows.scss
*/
$ux-writing-before: $color-danger;
$ux-writing-after: $color-success;
$ux-writing-pyramid-text-color: $sb-white;
