/* Links
   ========================================================================== */
/**
* Colors and links
*
* Meaningful colors: /assets/stylesheets/base/variables/colors.scss
* Links variables: /assets/stylesheets/base/variables/links.scss
*/
.main-menu {
  .active {
    background: $color-main;
    border-radius: $active-border-radius;
    color: $active-color;

    &:hover {
      color: $active-hover-color;
    }
  }
}
