extends ../layouts/layout-main

block content
  .post
    .js-animated-icons.animated-icons-content
      section
      .container
        h1
          | EOS animated icons
        h4
          | Click on an icon to view the implementation details.

      hr
      .container
        .row
          .col-md-12.col-sm-12.animated-icons-wrap
            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-loading.md-18(data-icon='loading-18')
              strong.icon-name
                | Loading 18px
            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-loading.md-24(data-icon='loading-24')
              strong.icon-name
                | Loading 24px

            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-loading.md-36(data-icon='loading-36')
              strong.icon-name
                | Loading 36px

            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-loading.md-48(data-icon='loading-48')
              strong.icon-name
                | Loading 48px
          .col-md-12.col-sm-12.animated-icons-wrap
            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-installing.md-18(data-icon='installing-18')
              strong.icon-name
                | Installing 18px
            
            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-installing.md-24(data-icon='installing-24')
              strong.icon-name
                | Installing 24px

            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-installing.md-36(data-icon='installing-36')
              strong.icon-name
                | Installing 36px

            .icon-display.js-panel-slidein-open
              i.icon-animated.icon-installing.md-48(data-icon='installing-48')
              strong.icon-name
                | Installing 48px

  .panel-slidein.panel-slidein-right
    .panel-slidein-body
      include ../includes/panel-slidein/animated-icons.pug    
    .panel-slidein-close.material-icons.md-18.pull-right
      | close

  .panel-slidein.panel-slidein-right
    .panel-slidein-body
      include ../includes/panel-slidein/animated-icons.pug
    .panel-slidein-close.material-icons.md-18.pull-right
      | close
