extends ../layouts/layout-main

block content
  .post
    .js-eos-icons-set
      section
        .container
          h1
            | EOS icon set
          h4
            | The EOS icons are a handcrafted iconic font designed using the Material Design guidelines. They are 100% compliant with the MD icons, also use ligatures, and are downloadable as an open source project on gitlab. 
      hr

      section
        .container
          .row.icon-set-utility
            .col-md-8.col-xs-12
              a.btn.btn-default.js-eos-icons-repo-link(href='', target='_blank')
                img.material-icons.md-18(src='/images/icons/gitlab.svg')
                | Download v
                span.js-eos-icons-version
                |  from gitlab
          .js-eos-icons-list.icons-set-list
            .icon-display.js-panel-slidein-open
              .eos-icons.md-48
              strong.icon-name

        // Panel-slidein component to show more information after clicking .js-panel-slidein-open
        .panel-slidein.panel-slidein-right
          .panel-slidein-body
            include ../includes/panel-slidein/eos-icons.pug
          .panel-slidein-footer
            h6
              | Tags
            .js-eos-icons-tags

          .panel-slidein-close.material-icons.md-18.pull-right
            | close
