extends ../layouts/layout-main

block content
  .post
    section
      .container
        h1
          | Icons UX

        h4
          | Icons serve as an effective visual aid and are also useful to save space on the screen. When done correctly,
          | icons can help guide users intuitively through a workflow without relying on too much copy.

        p
          | Eye tracking research has shown that users scan from the left in a vertical movement. In order for icons to serve as a visual scanning aid,
          | users need to see them before they see the button label. Placing them to the left of a label allows users to see the icon first. 
          | If you place icons to the right of your label, users read the label first and therefore the icon serves no purpose other than decoration. 

        p
          | For clearer usability, always use labels with abstract or unfamiliar icons.

    hr      
    article
      .container
        h3.ux-writing-title
          | Best practices
        .row
          .col-sm-3
            h4.title-strong
              | Position
            p
              | Place icons before labels in order for users to see them first.
          .col-sm-9
            .do-dont-container.do-dont-container-full-width
              .do-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | check_circle
                    | Do
                .do-dont-content
                  ul
                    li
                      strong
                        | Icon with lable
                      p
                        figure
                          img(src='/images/icons-ux/horizontal-nav-01.jpg')
                    li
                      strong
                        | Only icon
                      p
                        figure
                          img(src='/images/icons-ux/horizontal-nav-02.jpg')

    article
      .container
        .row
          .col-sm-3
            p
              | Align the icon vertically with the label heading, instead of centering it with the heading and body.
          .col-sm-9
            .do-dont-container.do-dont-container-full-width
              .do-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | cancel
                    | Do
                .do-dont-content.icons-ux-alignment 
                  i.material-icons.md-24
                    | dashboard
                  .vertical-content
                    h4
                      | Heading
                    p
                      | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.

              .dont-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | check_circle
                    | Don't
                .do-dont-content.icons-ux-alignment 
                  i.material-icons.md-24.vertical-align-icon
                    | dashboard
                  .vertical-content
                    h4
                      | Heading
                    p
                      | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.

    article
      .container
        .row
          .col-sm-3
            h4.title-strong
              | Spacing
            p
              | Icons should be separated by 8px of space or more to prevent users from activating the wrong icon and invoking the wrong action.
          .col-sm-9
            .do-dont-container.do-dont-container-full-width
              .do-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | check_circle
                    | Do
                .do-dont-content
                  p
                    figure.text-center
                      img(src='/images/icons-ux/spacing.jpg')

    article
      .container
        .row
          .col-sm-3
            h4.title-strong
              | Tooltip
            p
              | Use a tooltip if an icon has no label and needs some short explanation. For example, toolbar controls and command buttons without labels should have tooltips.
          .col-sm-9
            .do-dont-container.do-dont-container-full-width
              .do-column
                .do-dont-title
                  h6
                    i.material-icons.md-18
                      | check_circle
                    | Do
                .do-dont-content
                  figure.tooltip-eg
                    img(src='/images/icons-ux/tooltip-eg.jpg')
