extends ../layouts/layout-main

block content
  .post
    section
      .container
        h1
          | Icon guides
        h4
          | Using icons consistently across products reduces the 
          | learning curve and reinforces brand awareness.
    hr
    article
      .container
        h2
          | 3 simple rules to live by:
        .row.text-center
          .col-md-4
            .circle-icon-sets
              img.eos-logo(src='/images/landing/logo-white.svg')
              .circle-complementary
                .content-centered
                  img.md-logo(src='/images/icon-guides/md-logo.png', srcset='/images/icon-guides/md-logo@2x.png')
            h4
              | 2 icon sets made to coexist
          .col-md-4
            .circle-icon-sizes
              .content-centered
                i.eos-icons.md-36.md-light
                  | miscellaneous
                i.eos-icons.md-48.md-light
                  | miscellaneous
              .circle-complementary
                .content-centered
                  i.eos-icons.md-18
                    | miscellaneous
                  i.eos-icons.md-24
                    | miscellaneous
            h4
              | 4 icon sizes
          .col-md-4
            .circle-icon-colors
              .content-centered
                i.eos-icons.md-48.md-light
                  | miscellaneous
              .circle-complementary
                .content-centered
                  i.eos-icons.md-48
                    | miscellaneous
              
            h4
              | 2 icon colors
        section.margin-top-xxl
          h3.title-strong
            | Icon sets
          ul.list-no-padding
            li
              strong
                | Material Design icons
              p
                | With over 900 different icons, recognized worldwide by Android, 
                | Chrome, and many other Google products’ users, the 
                a(href='https://google.github.io/material-design-icons/', target='_blank')
                  | Material Design icon font 
                | is the recommended iconic font to use in all SUSE products. It 
                | uses ligatures, is 
                a(href='https://github.com/google/material-design-icons/', target='_blank')
                  | open source on github, 
                | and provides a state of the art 
                a(href='https://material.io/guidelines/style/icons.html#icons-system-icons', target='_blank')
                  | design guide. 
                | Material Design provides a 
                a(href='https://material.io/tools/icons/?style=baseline', target='_blank')
                  | cheatsheet 
                | to easily find and select icons with its ligature for later implementation.
              p
                | When using .png or .svg files instead of using the recommended web icon font provided by 
                | Material Design, you must use the 
                strong
                  | Filled theme 
                | as this is the baseline theme included in the iconic font and is compliant with the EOS icon set.
            li
              strong
                | EOS icons
              p
                | SUSE products contain features and options that go beyond the scope 
                | of Material Design. The EOS icons are a handcrafted iconic font designed 
                | using the Material Design guidelines. They are 100% compliant with the MD icons, 
                | also use ligatures, and are downloadable as an open source project on gitlab.
        section.margin-top-xxl
          h3.title-strong
            | Icon sizes
          p
            | Both MD icons and EOS icons have been designed to work and look 
            | perfect at: 18px, 24px, 36px, and 48px. These are the recommended 
            | sizes for icons in all SUSE UIs.
          p
            | In order to be compliant, follow MD icons class names to size both 
            | MD icons and EOS icons:
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#icon-sizes-css-snippet', aria-controls='icon-sizes-css-snippet', role='tab', data-toggle='tab') 
                | CSS code snippet
            li(role='presentation')
              a(href='#icon-sizes-examples', aria-controls='icon-sizes-examples', role='tab', data-toggle='tab') 
                | Implementation examples
          .tab-content
            #icon-sizes-css-snippet.tab-pane.active(role='tabpanel')
              pre.prettyprint
                code
                  | /* Rules for sizing the icon. */
                  | .md-18 { font-size: 18px; }
                  | .md-24 { font-size: 24px; }
                  | .md-36 { font-size: 36px; }
                  | .md-48 { font-size: 48px; }
            #icon-sizes-examples.tab-pane(role='tabpanel')
              h6.title-strong
                | Implementation example with MD icon
              .implementation-example
                .result
                  i.material-icons.md-18
                    | face
                  i.material-icons.md-24
                    | face
                  i.material-icons.md-36
                    | face
                  i.material-icons.md-48
                    | face
                pre.prettyprint
                  code
                    | &lt;i class='material-icons md-18'&gt;face&lt;/i&gt;
                    | &lt;i class='material-icons md-24'&gt;face&lt;/i&gt;
                    | &lt;i class='material-icons md-36'&gt;face&lt;/i&gt;
                    | &lt;i class='material-icons md-48'&gt;face&lt;/i&gt;
              h6.title-strong
                | Implementation example with EOS icon
              .implementation-example
                .result
                  i.eos-icons.md-18
                    | miscellaneous
                  i.eos-icons.md-24
                    | miscellaneous
                  i.eos-icons.md-36
                    | miscellaneous
                  i.eos-icons.md-48
                    | miscellaneous
                pre.prettyprint
                  code
                    | &lt;i class='eos-icons md-18'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-24'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-36'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-48'&gt;miscellaneous&lt;/i&gt;
        section.margin-top-xxl
          h3.title-strong
            | Icon colors
          p
            | Icon usage in SUSE UIs comes down to chosing between 2 colors, dark gray
            | and white, when placed on a light or dark background, respectively. 
            | For inactive states, icons are slightly transparent. 
          p
            | In order to be compliant, use MD class names as required below:
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#icon-colors-css-snippet', aria-controls='icon-colors-css-snippet', role='tab', data-toggle='tab') 
                | CSS code snippet
            li(role='presentation')
              a(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab') 
                | Implementation examples
          .tab-content
            #icon-colors-css-snippet.tab-pane.active(role='tabpanel')
              pre.prettyprint
                code
                  | /* Rules for using icons as black on a light background. */
                  | .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
                  | .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
                  |
                  | /* Rules for using icons as white on a dark background. */
                  | .material-icons.md-light { color: rgba(255, 255, 255, 1); } // or $sb-white from brand color variables
                  | .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
            #icon-colors-examples.tab-pane(role='tabpanel')
              .implementation-example
                .result
                  i.material-icons.md-dark
                    | face
                  i.material-icons.md-dark.md-inactive
                    | face
                pre.prettyprint
                  code
                    | &lt;i class='material-icons md-dark'&gt;face&lt;/i&gt;
                    | &lt;i class='material-icons md-dark md-inactive'&gt;face&lt;/i&gt;
              .implementation-example
                .result.dark-bg
                  i.material-icons.md-light
                    | face
                  i.material-icons.md-light.md-inactive
                    | face
                pre.prettyprint
                  code
                    | &lt;i class='material-icons md-light'&gt;face&lt;/i&gt;
                    | &lt;i class='material-icons md-light md-inactive'&gt;face&lt;/i&gt;
              .implementation-example
                .result
                  i.eos-icons.md-dark
                    | miscellaneous
                  i.eos-icons.md-dark.md-inactive
                    | miscellaneous
                pre.prettyprint
                  code
                    | &lt;i class='eos-icons md-dark'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-dark md-inactive'&gt;miscellaneous&lt;/i&gt;
              .implementation-example
                .result.dark-bg
                  i.eos-icons.md-light
                    | miscellaneous
                  i.eos-icons.md-light.md-inactive
                    | miscellaneous
                pre.prettyprint
                  code
                    | &lt;i class='eos-icons md-light'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-light md-inactive'&gt;miscellaneous&lt;/i&gt;
          p
            small
              | * Note that by default all icons will inherit the text color of 
              | its parent container ($sb-gray-900 being the default text color). 
              | More info at: 
              a(href='./colors')
                | color guide.
          p 
            small 
              | * The usage of .md-dark and md-light is only relevant in special use cases.

  .articles-gallery
    .post
      .row
        .col-sm-8
          h3.title-no-margings
            | Articles in this guide
        .col-sm-4.text-right
          .ag-arrow.js-ag-before
            i.material-icons
              | navigate_before
          .ag-arrow.js-ag-next
            i.material-icons
              | navigate_next
      .ag-carousel.js-ag-carousel
        a.ag-article-container(href='/icons/eos-icons-set')
          article.ag-article
            i.material-icons.goto-article-icon
              | launch
            h5
              | EOS icon set
            p
              | Download and follow the usage guide for all EOS icons.
            .ag-read-now
              | Read now
        a.ag-article-container(href='/icons/animated-icons')
          article.ag-article
            i.material-icons.goto-article-icon
              | launch
            h5
              | Animated icons
            p
              | A set of pure CSS animated icons for the most common use cases.
            .ag-read-now
              | Read now
        a.ag-article-container(href='/icons/icons-ux')
          article.ag-article
            i.material-icons.goto-article-icon
              | launch
            h5
              | Icons UX
            p
              | A guide to using icons consistently inside the main UI elements.
            .ag-read-now
              | Read now
        //- Double .internal-use class usage since the js-slider adds display: block to the first element by default
        .internal-use
          a.ag-article-container.internal-use(href='/icons/when-to-use-them')
            article.ag-article
              i.material-icons.goto-article-icon
                | launch
              h5
                | Do’s and Dont’s
              p
                | Find the use cases for using the most popular icons in SUSE interfaces.
              .ag-read-now
                | Read now
