/* Landing page
   ========================================================================== */
/**
 * This file imports all sass files for the main landing page
 *
 * TODO: Move to main SMACSS structure
 */
@import 'variables';
@import 'variables:main-menu';
@import 'titles';
@import 'layout';
@import 'components:buttons';
@import 'components:main-menu';
@import 'sections:introduction';
@import 'sections:features';
@import 'animations:bubbles';
@import 'sections:bottom-links';
@import 'sections:footer';
