/* Landing page components: Buttons
   ========================================================================== */
.btn {
  border-radius: $btn-round-border;

  &:not(.btn-link) {
    padding-left: $xl;
    padding-right: $xl;
  }

  &.btn-default,
  &.btn-secondary {
    background: $btn-default-bg;
    border: $btn-default-border;
    color: $btn-default-color;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid transparent;
      text-decoration: none;
    }
  }

  &.btn-default {
    &:hover {
      background: $btn-primary-bg-hover;
    }
  }

  &.btn-secondary {
    &:hover {
      background: $btn-secondary-bg-hover;
    }
  }

  &.btn-primary {
    background: $btn-primary-bg;
    border: $btn-primary-border;
    color: $btn-primary-color;
  }


  &.btn-link {
    color: $btn-link-color;
  }
}
