/* Landing page sections: Bottom links
   ========================================================================== */
.bottom-links {
  background: $var-bottom-links;
  background-position: top, bottom;
  background-size: auto;

  @media screen and (max-width: 1300px) {
    background: $bottom-links-background;
  }

  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }

  &-items {
    margin: $l 0 $m 0;

    > div {
      display: flex;
      flex-direction: column;
      height: 145px;

      .btn {
        align-self: center;
        margin-top: auto;
      }

    }
  }

  // icons
  &-icon {
    height: 18px;
    margin-right: $s;
  }

  // =================================
  //   Mobile version
  // =================================
  @media screen and (max-width: $sd-max) {
    .col-md-4 {
      margin: $xxl 0;
      padding: 0 $xxl;
    }

    a {
      font-size: $features-p-font-size;
    }
  }
}
