#video-demo-2.modal.fade.video-modal(tabindex='-1', role='dialog', aria-labelledby='modal-video-label')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .modal-video
          video(loop='', controls='')
            //-  autoplay source(src='1.webm', type='video/webm')
            source(src='/videos/bunny.mp4', type='video/mp4')
