#video-demo-1.modal.fade.video-modal(tabindex='-1', role='dialog', aria-labelledby='modal-video-label')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .modal-video
          video(loop='', controls='')
            source(src='https://res.cloudinary.com/eosdesignsystem/video/upload/v1528370416/EOS/videos/testing1.webm', type='video/webm')
            source(src='https://res.cloudinary.com/eosdesignsystem/video/upload/v1528370416/EOS/videos/testing1.mp4', type='video/mp4')
