h3.js-animated-icons-name
.margin-top-xl.margin-bottom-xl
  .margin-left-m.icon-animated.js-animated-icons-html
h6
  | Code
code.js-animated-icons-html-example

h6.margin-top-l
  | CSS
a.btn.btn-default.js-animated-icons-css-link(href='#', target='_blank')
  | Get the icon's SCSS

h6.margin-top-l
  | When to use this icon
.do-dont-container.do-dont-container-full-width.margin-top-l
  .do-column
    .do-dont-title
      h6
        i.material-icons.md-18
          | check_circle
        | Do
    .do-dont-content
      p.js-eos-icons-do
hr
.do-dont-container.do-dont-container-full-width
  .dont-column
    .do-dont-title
      h6
        i.material-icons.md-18
          | cancel
        | Don't
    .do-dont-content
      p.js-eos-icons-dont
p.js-eos-icons-action
