h3.js-eos-icons-name
.margin-top-xl.margin-bottom-xl
  .eos-icons.md-48.js-eos-icons-name
h6
  | Code
code
  | &lt;i class="
  span.js-eos-icons-base-class
  | "&gt
  span.js-eos-icons-name
  | &lt;/i&gt

h6.margin-top-l
  | When to use this icon
.do-dont-container.do-dont-container-full-width.margin-top-l
  .do-column
    .do-dont-title
      h6
        i.material-icons.md-18
          | check_circle
        | Do
    .do-dont-content
      p.js-eos-icons-do
hr
.do-dont-container.do-dont-container-full-width
  .dont-column
    .do-dont-title
      h6
        i.material-icons.md-18
          | cancel
        | Don't
    .do-dont-content
      p.js-eos-icons-dont
