extends ../layouts/layout-main

block content
  .post
    section
      .container
        h1
          | How to use the color palettes
        h4
          | Whether designing new components and UI elements, or simply re-branding 
          | an application, follow these simple rules to consistently use 
          | and combine the color palettes for text, backgrounds, and links.
      hr

    article
      .container
        h3
          | Text on monochromatic backgrounds
        p
          | The text color must be white on black backgrounds. 
          | On white backgrounds the text color must be the darkest shade of gray.

        .usage-example
          .title
            h5
              | #686565
            p
              | $sb-gray-900
          .wrap.white-gray
            p
              | Default text color on white
        .usage-example
          .title
            h5
              | #FFFFFF
            p
              | $sb-white
          .wrap.black-white
            p
              | Default text color on black
    article
      .container
        h3
          | Text on colored backgrounds
        p
          | Always use white as text color on colored backgrounds. If the 
          | contrast between white text and the background fails, use black as
          | text color.

        .usage-example
          .title
            h5
              | #FFFFFF
            p
              | $sb-white
          .wrap.white-violet
            p
              | Text on colored backgrounds
        .usage-example
          .title
            h5
              | #000000
            p
              | $sb-black
          .wrap.black-cerulean
            p
              | Text on colored backgrounds

    article
      .container
        h3
          | Link colors
        p
          | The darkest shade (900) of the 
          strong
            | SUSE cerulean 
          | color is the default color for links.
        .usage-example
          .title
            h5
              | #008ACF
            p
              | $sb-cerulean-900
          .wrap.cerulean-white
            p
              | This is the default 
              a
                | link color

        p.margin-top-xxl
          | When the color contrast fails between the $sb-cerulean-900 and 
          | the element's background, use the default (500) SUSE blue color.
        .usage-example          
          .title
            h5
              | #00243E
            p
              | $sb-blue-500
          .wrap.blue-green
            p
              | Link on colored 
              a
                | background

        h5.title-strong.margin-top-xxl
          | Special use case
        p
          | When the element's background uses 
          strong 
            | SUSE blue 
          | (one of the two primary colors), the primary 
          strong
            | SUSE green 
          | color should be used as link color.
        .usage-example          
          .title
            h5
              | #00C081
            p
              | $sb-green-500
          .wrap.green-blue
            p
              | Primary color background 
              a
                | with primary color link
